<header class="cont-header">
        <div class="notificacion">
           <p class="noticia-promo">
            <%= mensaje %> 
           </p>
           <a href="#" class="noticia-promo-link">Detalles</a>
       </div>
       <div>
           <div class="nav-header"> 
               <div class="nav-menu">
                    <button type="button" class="nav-menu-toggle">
                        <label for="nav-menu-toggle" class="label-toggle">&#9776;</label>
                    </botton>
               </div>
                <div class="logo-header">
                    <img src="../images/logo4.png" alt="logo" class="img-logo">
                </div>
                <div class="utilidades-header">
                    <img src="../images/carrito.png" alt="carrito" class="utilidades-header-buscador">
                </div>
         </div>  
        </div>
        <div class="header-menu header-nav-menu">
            <ul class="header-navegation-out">
                <li>
                    <a href="#" class="nav-categorias">Mujeres</a>
                </li>
                <li>
                    <a href="#" class="nav-categorias">Hombres</a>
                </li>
                <li>
                    <a href="#" class="nav-categorias">Niños</a>
                </li>
                <li>
                    <a href="#" class="nav-categorias">Accesorios</a>
                </li>
                <li>
                    <a href="#" class="nav-categorias"><span>Sale</span></a>
                </li>
                <li>
                    <a href="#" class="nav-categorias nav-cate-iniciarSesion" >Iniciar Sesión</a>
                </li>
            </ul>
        </div>    
</header>